#RegisterButton {
    text-align: center;
}

#RegisterButton button {
    background: linear-gradient(45deg, #3B4CCA, #2333a8); /* Gradien latar belakang */
    color: #fff;
    padding: 13px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s, color 0.3s; /* Efek transisi ketika di-hover */
    font-family: 'Roboto Slab', sans-serif;
    border: none;
    font-size: larger;
}

#RegisterButton button:hover {
    transform: scale(1.1); /* Efek perbesaran saat di-hover */
    box-shadow: 0 0 20px rgba(255, 85, 0, 0.6); /* Efek bayangan saat di-hover */
    background: linear-gradient(45deg, #ffaa00, #ff5500); /* Mengubah gradien latar belakang saat di-hover */
    color: #fff; /* Mengubah warna teks saat di-hover */
}

.Frame {
    text-align: center;
    margin: 20px;
}
